<!DOCTYPE html>
<html lang="en">
<head>
    <title>EleBlueC</title>
    <meta http-equiv="Content-Security-Policy"
          content="default-src *; style-src 'self' 'unsafe-inline' http://*; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://* https://*">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="assets/material-icons.css"/>
    <style type="text/css">
        /**
        * Hide when Angular is not yet loaded and initialized
        */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="EleBlueC">
<div ng-controller="AppCtrl" layout="row" ng-cloak layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                ng-include="'src/app/left.html'">
    </md-sidenav>
    <md-content layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" hide-gt-md>
                    <md-icon md-font-library="material-icons" class="md-light">menu</md-icon>
                </md-button>
                <h2 class="md-display-1">
                    <span>Toolbar</span>
                </h2>
                <span flex></span>
                <md-button ng-click="toggleRight()" class="md-icon-button" aria-label="Settings">
                    <md-icon md-font-library="material-icons" class="md-light">menu</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-align="top center" flex ng-view>

        </md-content>

    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2"
                md-component-id="right"
                ng-include="'src/app/right.html'">
    </md-sidenav>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-aria.js"></script>
<script src="lib/angular/angular-animate.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="lib/angular/angular-messages.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>

<script src="lib/ngcordova/ng-cordova.js"></script>

<script src="lib/firebase/firebase.js"></script>
<script src="lib/angular-fire/angularfire.js"></script>

<script src="http://maps.google.com/maps/api/js"></script>
<script src="lib/angular-maps/ng-map.min.js"></script>

<script src="lib/angular-material/angular-material.js"></script>

<script src="lib/angular-translate/angular-translate.js"></script>
<script src="lib/angular-translate/angular-translate-loader-static-files.js"></script>
<script src="lib/angular-translate/angular-translate-storage-cookie.js"></script>
<script src="lib/angular-translate/angular-translate-storage-local.js"></script>

<script src="src/EleBlueC.js"></script>

<script src="src/data/run-assignservice.js"></script>
<script src="src/data/service-toggler.js"></script>
<script src="src/data/service-session.js"></script>
<script src="src/data/service-auth.js"></script>
<script src="src/data/config-routes.js"></script>
<script src="src/data/config-theming.js"></script>
<script src="src/data/config-translate.js"></script>

<script src="src/app/app.ctrl.js"></script>
<script src="src/app/left.ctrl.js"></script>
<script src="src/app/right.ctrl.js"></script>
<script src="src/app/home/home.ctrl.js"></script>
<script src="src/app/user/login.ctrl.js"></script>
<script src="src/app/user/create.ctrl.js"></script>

<script type="text/javascript" src="cordova.js"></script>

</body>
</html>
