<form name="createForm">
    <md-content layout-padding layout="row" layout-sm="column" layout-fill>
        <md-input-container flex>
            <label>{{'email' | translate}}</label>
            <input ng-model="user.email" required name="email" type="email">

            <div ng-messages="createForm.email.$error" ng-show="createForm.email.$touched">
                <div ng-message="required">{{'this_is_required' | translate}}</div>
                <div ng-message="email">{{'not_valid_email' | translate}}</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>{{'password' | translate}}</label>
            <input ng-model="user.password" ng-minlength="8" required name="password" type="password">

            <div ng-messages="createForm.password.$error" ng-show="createForm.password.$touched">
                <div ng-message="required">{{'this_is_required' | translate}}</div>
                <div ng-message="minlength">{{'short_password' | translate}}</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>{{'retype_password' | translate}}</label>
            <input ng-model="user.repassword" ng-minlength="8" required name="repassword" type="password">

            <div ng-messages="createForm.repassword.$error" ng-show="createForm.repassword.$touched">
                <div ng-message="required">{{'this_is_required' | translate}}</div>
                <div ng-message="minlength">{{'short_password' | translate}}</div>
            </div>
        </md-input-container>
    </md-content>
    <md-button ng-click="createUser()" class="md-raised" aria-label="Create" ng-disabled="createForm.$invalid">Create
        User
    </md-button>
</form>

<p ng-if="message">Message: <strong>{{ message }}</strong></p>

<p ng-if="error">Error: <strong>{{ error.code | translate }}</strong></p>