<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">UTENTE</h1>
</md-toolbar>
<md-content ng-controller="RightCtrl">

    <md-list>

        <md-subheader class="md-no-sticky">Impostazioni</md-subheader>

        <md-list-item ng-click="send($event, '/login')" ng-if="sessionService.getProvider() == 'anonymous'">
            <md-icon md-font-library="material-icons" class="md-avatar-icon">face</md-icon>
            <p>{{'login' | translate}}</p>
        </md-list-item>

        <md-list-item ng-click="send($event, '/logout')" ng-if="sessionService.getProvider() == 'password'">
            <md-icon md-font-library="material-icons" class="md-avatar-icon">face</md-icon>
            <p>{{'logout' | translate}}</p>
        </md-list-item>

        <md-divider></md-divider>
    </md-list>

    <md-button ng-click="close()" class="md-primary">
        Close Sidenav Right
    </md-button>
</md-content>