<md-content layout="column" ng-cloak>
    <form name="createForm">
        <div layout="row" layout-sm="column" layout-padding>
            <md-input-container flex>
                <label>{{ 'email' | translate}}</label>
                <input ng-model="user.email" type="email" required>

                <div ng-messages="createForm.email.$error" ng-show="createForm.email.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                    <div ng-message="email">{{'not_valid_email' | translate}}</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>{{'password' | translate}}</label>
                <input ng-model="user.password" ng-minlength="8" required name="password" type="password">

                <div ng-messages="createForm.password.$error" ng-show="createForm.password.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                    <div ng-message="minlength">{{'short_password' | translate}}</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>{{'retype_password' | translate}}</label>
                <input ng-model="user.repassword" ng-minlength="8" required name="repassword" type="password">

                <div ng-messages="createForm.repassword.$error" ng-show="createForm.repassword.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                    <div ng-message="minlength">{{'short_password' | translate}}</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-padding>
            <md-input-container flex>
                <label>{{'name' | translate}}</label>
                <input ng-model="user.firstname" required name="firstname">

                <div ng-messages="createForm.firstname.$error" ng-show="createForm.firstname.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>{{'lastname' | translate}}</label>
                <input ng-model="user.lastname" required name="lastname">

                <div ng-messages="createForm.lastname.$error" ng-show="createForm.lastname.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-padding>
            <md-input-container flex>
                <label>{{ 'city' | translate}}</label>
                <input ng-model="user.city" required name="city">

                <div ng-messages="createForm.city.$error" ng-show="createForm.city.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>{{ 'state' | translate}}</label>
                <md-select ng-model="user.state" required name="state">
                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                        {{state.abbrev}}
                    </md-option>
                </md-select>

                <div ng-messages="createForm.city.$error" ng-show="createForm.city.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Postal Code</label>
                <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                       required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                <div ng-messages="createForm.postalCode.$error" ng-show="createForm.postalCode.$touched">
                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                    <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                        code.
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout="column" layout-align="space-around center" layout-padding>
            <md-button ng-click="createUser($event)" class="md-raised" aria-label="Create"
                       ng-disabled="createForm.$invalid">Create
                User
            </md-button>
        </div>
    </form>
</md-content>
