<md-content layout="column" layout-padding ng-cloak>
    <form name="loginForm">
        <div layout="row" layout-sm="column" layout-padding>
            <md-input-container flex>
                <label>{{'email' | translate}}</label>
                <input ng-model="user.email" required name="email" type="email">

                <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                    <div ng-message="email">{{'not_valid_email' | translate}}</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>{{'password' | translate}}</label>
                <input ng-model="user.password" ng-minlength="8" required name="password" type="password">

                <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                    <div ng-message="required">{{'this_is_required' | translate}}</div>
                    <div ng-message="minlength">{{'short_password' | translate}}</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center" layout-padding>
            <md-button ng-click="loginWithPassword($event)" class="md-raised groupX left" aria-label="Login"
                       ng-disabled="loginForm.$invalid">
                {{'login' | translate}}
            </md-button>
            <md-button ng-click="send($event, '/create')" class="md-raised md-primary groupX right" aria-label="Create">
                {{'create' | translate}}
            </md-button>
        </div>
    </form>
</md-content>